*{
    font-family: 'open-sans', 'arial';
    margin: 0;
    --red: #D22020;
    --pink: #FFDBE1;
    scroll-behavior: smooth;
}

body{
    position: relative;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    gap: 3px;
    bottom: 0;
    background-color: var(--pink);
    width: 100vw;
    height: 40px;
    left: 0;
}

#navbar .btn{
    background-color: var(--pink);
    border: solid 1px var(--red);
    height: 30px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-bar button{
    background-color: var(--pink);
    border: solid 1px var(--red);
    padding: 0 .5rem;
}

.collapsed{
    display: none;
    transition: 0.5s;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    background-color: var(--pink);
    border-bottom: solid 1px red;
    height: 30px;
    padding: 5px;
}

.bar-right{
    display: flex;
}

.header-bar button{
    font-size: 20px;
    margin: 1px 5px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}


/* all section share this */
.container{
    border: solid 1px red;
    background-color: white;
    /*border-radius: 6px;*/
    max-width: 1080px;
    /*min-width: 600px;*/
    /*padding-block: min(20vh, 10rem);*/
    margin: 0 min(80wh, 20rem);
    margin-top: 40px;
    background-color: FFDBE1;
}


h2{
    margin: 0;
}


#hero{
    background-color: lightgoldenrodyellow;
    /*height: 100vh;
    height: 100svh;*/
    height: 400px;
}

#hero-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero-left{

}

#hero-right{
    border: solid 1px red;
}

#about{

}

#tech-stack{

}

#projects{
    background-color: lightgreen;
}

.projects-container{
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    */
    display: grid; 
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 2fr));
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 100%),2fr);*/
}

.project-item{
    display: flex;
    flex-direction: column;
    border: solid red 1px;
    min-width: 200px;
    /*width: 300px;
    //height: auto;*/
}

.project-item>img{
    min-width: 200px;
}

.project-item>button{
    background-color: lightcoral;
    border-radius: 5px;
    padding: 1rem;
}

#tech-stack-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-item{
    background-color: var(--pink);
    border: solid 1px red;
    padding: 10px;
    /*width: 200px;*/
    height: 50px;
    width: 50px;
    transition: 0.2s ease-in-out;
}
/*
.tech-item:hover{
    cursor: pointer;
    margin-bottom: 5px;
}*/

#tech-stack img{
    width: 30px;
}