*{
    font-family: 'open-sans', 'arial';
}

body{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar{
    display: flex;
    justify-content: space-around;
}

ul li{
    list-style: none;
}

/* all containers share this */
.container{
    border: solid 1px green;
    width: 800px;
    max-width: 1020px;
}



#hero{
    background-color: lightgoldenrodyellow;
    height: 800px;
}

#hero-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero-left{

}

#hero-right{
    border: solid 1px red;
}

#about{
    background-color: lightpink;
}

#tech-stack{
    background-color: lightblue;
}

#projects{
    background-color: lightgreen;
}

.projects-container{
    /*display: flex;
    flex-direction: row */
    padding: 0 50px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(min(22rem, 100%), 1fr));
}

.project-item{
    border: solid red 1px;
    min-width: 200px;
    /*width: 300px;
    //height: auto;*/
}

.project-item>img{
    width: 400px;
}