*{
    font-family: 'space mono', 'open sans', 'arial';
    margin: 0;
    padding: 0;
    --dark-pink: #FF90B3;
    --light-pink: #FFC2E2;
    --light-purple: #B892FF;
    --dark-purple: #6E44FF;
    scroll-behavior: smooth;
}

body{
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 40px 40px;
    background-image: 
        linear-gradient(to right, white 1px, transparent 1px),
        linear-gradient(to bottom, white 1px, transparent 1px); 
    min-width: 320px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-pink);
    padding: 12px 36px;
}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 6px;
}

nav ul li button{
    background-color: #FFC2E2;
    border: solid 2px var(--dark-purple);
    border-radius: 5px;
    padding: .5em 1em;
}
nav a{
    text-decoration: none;
    color: var(--dark-purple);
}

nav h1{
    color: black;
}
/* content frames */
.frame{
    border: solid 4px var(--dark-pink);
    border-radius: 12px;
    background-color: white;
    z-index: 4;
    box-shadow: 8px 8px 0 0 var(--dark-pink);
} 

.frame-top{
    border-radius: 12px 12px 0 0;
    z-index: 1;
    height: 16px;
    width: auto;
    background-color: var(--light-purple);
    position: relative;
    top: -4px;
    border-top: solid 4px var(--dark-pink);
}

#hero{
    background-color: var(--light-pink);
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 400px);
    width: auto;
    justify-content: center;
    height: 100svh;
    align-items: center;
}

#header{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: center;
    height: 200px;
    width: auto;
}

.pic{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
}


/* cta buttons */
.cta{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* align-self: start; */
}

.cta button{
    width: 10em;
    height: 5em;
    border-radius: 8px;
}

.cta button:hover{
    
}

#hire-btn{
    background-color: var(--dark-purple);
    border: solid 4px white;
    color: white;
}

#view-btn{
    background-color: white;
    border: solid 4px var(--dark-pink)
}

#connect{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100px;
    /* align-self: start; */
    width: auto;
}



/* about section */
#about{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;

}

#about-container{
    grid-column: 2 / 3;
}

.about-pics{
    grid-column: 1 / 2;
}

.about-pics img{
    width: 200px;
}
/*tech stack section */
#tech-stack{

}

#tech-container{

}
#tech-stack-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    margin: 0 auto;
}

.tech-item{
    background-color: white;
    width: 3rem;
    height: auto;
    padding: 1.5rem;
}

.tech-item>img{

}

.tech-item>p{
    text-align: center;
    width: auto;
    margin: 0 -1.5rem;
}

.selected{
    background-color: var(--pink);
    outline: solid var(--red) 1px;
}

.tech-item:hover{
    background-color: var(--pink);
}


/* projects section */
.projects-container{
    display: flex;
    align-items: center;
}

.projects-grid{
    margin: 0 auto;
    display: grid; 
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 2fr));
}

.project-item{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    align-items: center;
}

.project-item>img{
    min-width: 100px;
    width: 22rem;
    margin-bottom: .5rem;
}

#hero>.hero-container>#hero-left>button,
.project-item>.project-buttons>button{
    background-color: var(--pink);
    padding: 1rem;
    border: solid var(--red) 1px;
    color: var(--red);
    border-radius: .5rem;
}


/* contact section */
#contact{
    margin-bottom: 80px;
}

#contact-container>a>img{
    width: 40px;
}

/* mobile */
@media(max-width: 425px){
    #hero{
        background-color: #B892FF;
    }

}